body{ 
    background-color: #f8f9fa;
}

/*li {
	list-style:none;
}*/
.right{
	float:right;
}
.container{
	padding:15px;
}
button {
	float:right;
}
li.form-control{
	margin-bottom:1rem;
}
.form-control button.btn-outline-secondary.btn {
    margin-right: -13px;
    margin-top: -7px;
}
.form-control input[type="checkbox"]{
	float:left;
    margin: 6px 6px 6px 0;	
}
p.changeAllert{
	display: none;
}
input.editInput{
    width: 60%;
    border: none;
}
span.todoText {
    padding: 8px;
}

img#dogImg {
	position:relative;
    opacity: 0.8;
    width: 100%;
    position: absolute;
    z-index: -2;
}
button#changeImg {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

p#motto {
    font-size: 20px;
    position: absolute;
    bottom: 50px;
    background-color: #f8f9fa9e;
    padding: 10px;
    font-style: italic;
}